<header class="header">
  <div class="container">
    <nav class="header-menu">
      <a class="logo" href="/src/index.html">mimino</a>
      <ul class="list">
        <li class="header-item">
          <a href="" class="header-link link">
            Ресторан
            <svg class="header-icons" width="24" height="24">
              <use href="/src/images/icons.svg#icon-phone"></use>
            </svg>
          </a>
        </li>
        <li class="header-item">
          <a href="" class="header-link link">
            Готель
            <svg class="header-icons" width="24" height="24">
              <use href="/src/images/icons.svg#icon-phone"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
