<section class="hero-main">
  <div class="container">
    <a class="address-link link" href="./index.html">
      <svg class="address-icon" width="20" height="20">
        <use href="./images/icons.svg#icon-mapa"></use>
      </svg>
      <address class="address">
        Україна, м. Полтава, <br />
        вул. Маршала Бірюзова, 15
      </address>
    </a>
    <h1 class="hero-main-title">MIMIHO</h1>
    <p class="hero-main-text">Ресторанно-готельний комплекс</p>
    <p class="hero-main-text-bottom">СМАК ЖИТТЯ 24/7</p>
    <div class="hero-main-button-block">
      <button class="button-order" type="button">Забронювати столик</button>
      <button class="button-order" type="button">Забронювати номер</button>
    </div>

    <ul class="social-list">
      <li>
        <a href="" class="hero-social-item">
          <svg width="24" height="24">
            <use href="./images/icons.svg#icon-insta"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="" class="hero-social-item">
          <svg width="24" height="24">
            <use href="./images/icons.svg#icon-face"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="" class="hero-social-item">
          <svg width="24" height="24">
            <use href="./images/icons.svg#icon-telega"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
